body {
  margin: 0;
  overflow: hidden;
}
canvas {
  display: block;
}

.main-title {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: transparent;
}
/* Icon Button Styling */
#help-icon-button {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

#settings-icon-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

.scope {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  display: none;
}

#help_modal {
  display: none;
  /*background-color: transparent;*/
  /*margin: auto;*/
  /*padding: 20px;*/
  /*width: 80vw;*/
  /*border-radius: 12px;*/
  /*position: relative;*/
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#papyrus_horizontal {
  /*position: absolute;*/
  /*width: 80vw;*/
  /*background-color: transparent;*/
  /*padding: 10vw*/
  background-color: rgba(32, 22, 47, 0.8); /* Make background slightly opaque */
  width: 80vw;
  height: calc(0.75 * 80vw);
  border-radius: 12px;
  position: relative;
  top: calc((100vh - 0.75 * 80vw) / 2);
  left: calc((100vw - 80vw) / 2);
}

#close_help {
  position: absolute;
  /*top: calc(0.18 * 0.75 * 80vw);*/
  top: calc((0.09 * 0.75 * 80vw) + (0.5 * 100vh) - (0.5 * 0.75 * 80vw));
  left: calc(0.9 * 80vw);
  font-family: "Papyrus", fantasy;
  /*font-size: 36px;*/
  font-size: calc(0.04 * 0.75 * 80vw);
  cursor: pointer;
}

#help_modal_title {
  position: absolute;
  /*top: calc(0.33 * 0.75 * 80vw);*/
  top: calc((0.22 * 0.75 * 80vw) + (0.5 * 100vh) - (0.5 * 0.75 * 80vw));
  left: calc(0.57 * 80vw);
  /*color: black;*/
  font-family: "Papyrus", fantasy;
  /*font-size: 48px;*/
  font-size: calc(0.06 * 0.75 * 80vw);
}

.swipe {
  position: absolute;
  /*top: calc(0.57 * 0.75 * 80vw);*/
  top: calc((0.48 * 0.75 * 80vw) + (0.5 * 100vh) - (0.5 * 0.75 * 80vw));
  left: calc(0.42 * 80vw);
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  font-family: "Papyrus", fantasy;
}

#swipe {
  width: calc(0.12 * 80vw);
  align-self: center;
}

.tap {
  position: absolute;
  /*top: calc(0.55 * 0.75 * 80vw);*/
  top: calc((0.46 * 0.75 * 80vw) + (0.5 * 100vh) - (0.5 * 0.75 * 80vw));
  left: calc(0.67 * 80vw);
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  font-family: "Papyrus", fantasy;
}

#tap {
  width: calc(0.12 * 80vw);
  align-self: center;
  padding: 9px;
}

.text_box {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.instructions {
  text-align: center;
}
