body {
  margin: 0;
  overflow: hidden;
}
canvas {
  display: block;
}

.main-title {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: transparent;
}
/* Icon Button Styling */
#help-icon-button {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

#settings-icon-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

.scope {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  display: none;
}

#help_modal {
  display: none;
  /*background-color: transparent;*/
  /*margin: auto;*/
  /*padding: 20px;*/
  /*width: 80vw;*/
  /*border-radius: 12px;*/
  /*position: relative;*/
}

#papyrus_horizontal {
  position: absolute;
  width: 80vw;
  background-color: transparent;
  padding: 10vw
}

#close_help {
  position: absolute;
  top: 22vh;
  left: calc(80vw - 8vw);
  font-family: "Papyrus", fantasy;
  font-size: 36px;
  cursor: pointer;
}

#help_modal_title {
  position: absolute;
  top: 30vh;
  left: calc(46vw);
  color: black;
  font-family: "Papyrus", fantasy;
  font-size: 48px;
}

.swipe {
  position: absolute;
  top: 52vh;
  left: 34vw;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  font-family: "Papyrus", fantasy;
}

.tap {
  position: absolute;
  top: 49.3vh;
  left: calc(80vw - 24vw);
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  font-family: "Papyrus", fantasy;
}

#swipe {
  width: 9vw;
  align-self: center;
}

#tap {
  width: 9vw;
  align-self: center;
  padding: 12.5px;
}

.text_box {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.instructions {
  text-align: center;
}
